modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Storytelling Program"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "storytelling_app"

[[workflows.workflow]]
name = "Storytelling Program"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "storytelling_app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
